<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/temp.css">
  <css src="css/temp.css">
</head>

<div class="navigation">
  <p>
  <ul>
    <li><a class="active" href="/home">Home</a></li>
    <li><a class="active" href="/christian">Christian</a></li>
    <li><a class="active" href="/analysis">Data Analysis Projects</a></li>
    <li><a class="active" href="/stats">Stats</a></li>
    <li><a class="active" href="/football">Football</a></li>
    <li><a class="active" href="/other">Other</a></li>
    <li><a class="active" href="/about">About</a></li>
  </ul>
  </p>
  </div>
<h1>Welcome to Jamie's Portfolio</h1>
<p>
  <img class="resize" src="img/me.jpg" alt="Half Time Banno vs NT">
</p>
</html>
