<html>
  <head>

  </head>
  <body>
    <h1>Speaking</h1>
    <p>
      Things that are "unattractive" to people listening
    </p>
    <ul>
      <li>Gossip</li><li>Judging/Judgement of them</li><li>Lying</li><li>Negativity</li><li>Complaining</li><li>Excuses</li><li>Dogmatism- large and excessive exaggerate language</li>
    </ul>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/eIho2S0ZahI"></iframe>
    <p>
      Things people like about people when speaking. Speak with:

    </p>
    <ul>
      <li>Honesty</li><li>Authenticity</li><li>Honesty</li>Integrity-to your word<li>Love</li>
    </ul>
    <p>
      1)Use "register", or tone. We vote for people with lower voices because it reflects power and authority. Speak from the chest, not from the nose, or mouth (ie gusto comes from chest)
      <br /> 2) Timbre - the way your voice feels, feels rich, smooth, warm. Can train your voice. Breathing/posture
      <br /> 3) Prosody - changing modularity- dont be monotone, modulate tones.
      <br /> 4) Pace - fast, slow, silence. Can be silent, we dont need to fill it with ums and ahhs, silence can be powerful
      <br /> 5) Pitch
      <br />6) Volume- dont broadcast the whole time, dont always be loud.
    </p>
    <h1>Listening</h1>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/cSohjlYQI2A"></iframe>
        <p>
          Spend 60% of communication time listening, yet we retain 25%. Listening = making meaning from sound
        </p>
        <ul>
          Tips to listen better:
          <li>
            Have a few minutes of absolute quiet a day
          </li>
          <li>
            Identify different channel of sounds - ie nature, birds, winds, man-made, cars, music etc
          </li>
          <li>
            Savouring - enjoying mundane sounds. The hidden choir
          </li>
          <li>
            Changing listening position (active|passive), (reductive|expansive), (critical|empathetic)
          </li>
          <li>
            <ul> RASA
              <li>
                R-Receive, pay attention to what they are saying
              </li>
              <li>
                A-Appreciate- making little noises like hmm ahh okay
              </li>
              <li>
                S-Summarise - "So ...", show you were listening, (actually listen)
              </li>
              <li>
                A-Ask questions after
              </li>
            </ul>
          </li>
        </ul>
  </body>
</html>
