<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/temp.css">
    <css src="css/temp.css">
  </head>
  <div class="navigation">
    <p>
    <ul>
      <li><a class="active" href="/stats_y1s2">First Year Stats w/ Michael Stewart</a></li>
      <li><a class="active" href="/stats_y2s1">Second Year Sem 2 w/ Uri Keich</a></li>
    </ul>
    </p>
    </div>
    <div>
        <!--
        <img src="img/conf.jpg">
        <img src="img/mathmeme_paranormal.PNG">
        <img src="img/maths_meme_nothing_inf.jpg">
        -->
        <img src="img/conf.jpg" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;">
        <img src="img/mathmeme_paranormal.PNG" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
        <img src="img/maths_meme_nothing_inf.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
        <p style="clear: both;">
    </div>

</html>
