h1{
  color: black;
  font-weight: bold;
  font-family: serif;
  font-size: 30px;
  //background: yellow;
  //padding: 10px;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 45%;
    max-width: 45%;
}

resize{
  width: 400px;
  height: auto
}
h4 {
  color: black;
  font-family: serif;
}
.rotate37 {
    -webkit-transform: rotate(37deg);
    -moz-transform: rotate(37deg);
    -o-transform: rotate(37deg);
    -ms-transform: rotate(37deg);
    transform: rotate(37deg);
}
div.navigation {
    text-align: center;
}
p.italic{
  font-style: italic;
}
