<div class="navigation">
  <p>
  <ul>
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  </p>
  </div>
<h1>Welcome to Jamie's Portfolio</h1>
<p>
  Hopefully, this website will showcase me and my analytical ability. I have a strong love for football (soccer), but I am
  a generally athletic guy, with experience in a wide range of sports.
</p>
<p>
  I attend University of Sydney and I am studying a double degree in Science and Information Technologies.
</p>
